@import "tailwindcss";

@theme {
  --color-inverse-surface: #dfe2eb;
  --color-surface-dim: #10141a;
  --color-on-primary-container: #003111;
  --color-outline: #879485;
  --color-background: #10141a;
  --color-surface-container-lowest: #0a0e14;
  --color-surface-container-high: #262a31;
  --color-on-secondary: #093817;
  --color-surface-bright: #353940;
  --color-on-primary: #003914;
  --color-outline-variant: #3e4a3d;
  --color-primary: #62df7d;
  --color-surface-container: #1c2026;
  --color-secondary-container: #23502c;
  --color-on-background: #dfe2eb;
  --color-inverse-on-surface: #2d3137;
  --color-primary-container: #1ca64d;
  --color-on-surface: #dfe2eb;
  --color-on-surface-variant: #bdcaba;
  --color-surface-container-low: #181c22;
  --color-on-secondary-container: #90c193;
  --color-surface-container-highest: #31353c;
}
